p { font-size: 2em;
  color:maroon;
}
h1 {
  font-size: 2rem;
  font-family: Arial;
  color:grey
}
h2 {
  font-family: Arial;
  color:grey
}
h1 {
  border-bottom: 1px solid black;
}
body {
  font-family: Arial;
}
html {
  font-size: 16px;
}
body{
	color: royalblue;
	color: rgb(65, 105, 225);
	color: 
	color:rgb
	color: #2775b6CC;
      }